@use 'colors';

.sidebar {
	flex-shrink: 0;

	background-color: colors.$bg-dark2;

	text-align: center;

	padding-left: 0.5rem;
	padding-right: 0.5rem;

	& > ul {
		display: flex;
		flex-direction: column;

		list-style-type: none;
		& > li {
			border-bottom: 0.2rem solid colors.$bg-light3;
			& > a {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
				font-size: 2rem;
			}
		}
	}
}
