{
	"trailingComma": "es5",
	"printWidth": 120,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"singleAttributePerLine": false,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"plugins": []
}
