/* Colors */

:root {
	/* Background */
	--color-bg: #292929;

	/* Background steps */
	--color-bg-step: 0.03;

	--color-bg-dark1: oklch(from var(--color-bg) calc(l - 1 * var(--color-bg-step)) c h);
	--color-bg-dark2: oklch(from var(--color-bg) calc(l - 2 * var(--color-bg-step)) c h);
	--color-bg-dark3: oklch(from var(--color-bg) calc(l - 3 * var(--color-bg-step)) c h);

	--color-bg-light1: oklch(from var(--color-bg) calc(l + 1 * var(--color-bg-step)) c h);
	--color-bg-light2: oklch(from var(--color-bg) calc(l + 2 * var(--color-bg-step)) c h);
	--color-bg-light3: oklch(from var(--color-bg) calc(l + 3 * var(--color-bg-step)) c h);

	/* Text */
	--color-text: #acacac;
}
