// Note: The default must be first because we might overwrite
//       generic elements elsewhere.
@forward 'default.scss';

@forward 'a.scss';
@forward 'app.scss';
@forward 'sidebar.scss';

@use 'colors';

.main {
	background-color: colors.$bg-dark1;

	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
